name: Build APK Otomatis
on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Java & Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Eksekusi Script Ukari
        run: |
          # Ini adalah versi otomatis dari 31 langkah kamu
          flutter create .
          flutter pub get
          flutter build apk --release

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: Hasil_APK_Ukari
          path: build/app/outputs/flutter-apk/app-release.apk
